{% extends 'base.html' %}

{% block content %}
<div class="container pt-3">
    <h1>Создать статус</h1>

    <form action="{% url 'status_create' %}" method="POST">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="title" class="form-label">Заголовок</label>
            <input type="text" name="title" class="form-control" id="title" placeholder="Введите название">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Описание</label>
            <textarea class="form-control" name="description" id="description" rows="4" placeholder="Введите описание"></textarea>
        </div>
        <div class="mb-3">
            <label for="status" class="form-label">Статус</label>
            <input type="text" name="status" class="form-control" id="status" placeholder="Укажите статус">
        </div>

        <button type="submit" class="btn btn-primary">Создать задачу</button>
    </form>
</div>


{% endblock %}