{% extends 'base.html' %}

{% block content %}
    <h1>Регистрация</h1>
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}

        {% for error in form.non_field_errors %}
        <p class="alert alert-danger">{{ error }}</p>
        {% endfor %}


        {% for field in form %}

        <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {{ field }}
        </div>
        {% for error in field.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}


        {% endfor %}

        <button type="submit" class="btn btn-primary mt-3">Зарегистрироваться</button>
    </form>


{% endblock %}