<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>To Do List</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container pt-10">
          <a class="navbar-brand" href="{% url 'home_page' %}">ToDo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home_page' %}">Главная</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'task_create' %}">Создать задачу</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'task_list' %}">Список задач</a>
              </li>
              {% if not request.user.is_authenticated %}
              <li class="nav-item">
                <a class="btn btn-success" href="{% url 'login' %}">Авторизоваться</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-success" href="{% url 'register' %}">Зарегистрироваться</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="btn" href="{% url 'logout' %}">Выйти</a>
              </li>
              {% endif %}
              
              
            </ul>
          </div>
        </div>
      </nav>


    <div class="container pt-3">
        {% block content %}
        {% endblock %}    
    </div>
    



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>