{% extends 'base.html' %}

{% block content %}
    <h1>Редактировать задачу</h1>

    <form action="{% url 'task_update' task.pk %}" method="POST">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="title" class="form-label">Заголовок</label>
            <input type="text" name="title" class="form-control" id="title" placeholder="Введите название" value="{{ task.title }}">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Описание</label>
            <textarea class="form-control" name="description" id="description" rows="4" placeholder="Введите описание">{{ task.description }}</textarea>
        </div>
        <div class="mb-3">
            <label for="status" class="form-label">Статус</label>
            <select name="status" class="form-control" id="status" placeholder="Укажите статус">
                <option value="">Выберите статус</option>
                {% for status in status %}
                <option value="{{ status.id }}">{{ status.status }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Редактировать задачу</button>
    </form>
{% endblock %}