{% extends 'base.html' %}

{% block content %}
<h1 class="text-center display-1">Список задач</h1>
<div class="card" style="width: 25rem;">
    {% for task in tasks %}

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a href="{% url 'task_detail' task.pk %}" class="list-group-item" aria-current="true">
        {{ task.title }}</a>
        <span>{{ task.status.status }}</span>
    </li>
    </ul>

    {% endfor %}  
  </div>


{% endblock %}