{% extends 'base.html' %}

{% block content %}
<h1 class="text-center display-1">Детали задачи</h1>
<div class="card" style="width: 25rem;">
    <div class="card-body">
      <h5 class="card-title">{{ task.title }}</h5>
      <p class="card-text">{{ task.description }}</p>
      <p class="card-text">{{ task.status.status }}</p>
      <p class="card-text mb-5">Создана: {{ task.created_at }}</p>
      <a href="{% url 'task_update' task.pk %}" class="btn btn-primary">Редактировать</a>
      <a href="{% url 'task_delete' task.pk %}" class="btn btn-primary">Удалить задачу</a>
    </div>
  </div>


{% endblock %}